.navigation {
  flex-basis: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1277px) {
    display: none;
  }
  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: block;
    transition: all .4s;
     &:hover {
      background-color: rgba(219, 217, 217, 0.656);
     }
  }

  &__link {
    padding: 1rem 0;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.5rem;
    transition: all .4s;
    &:hover {
      color: $main-color;
    }

  }
 

   @media (max-width: 856px) {
  }
   &__wrapper {

     @media (max-width: 856px) {

  
      .header.open & {

    }
   }
}

}