.slider {
  position: relative;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-wrap: nowrap;
  transition: all 1s;

  &__button {
    border-radius: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    // pointer-events: none;
    background-color: $main-color;
    border-radius: 50%;
    transition: all .4s;
    &:hover {
      background-color:#ef797b;
      color: #9c7f7f;
    }
  }




  &__buttons {
    position: absolute;
    bottom: 5%;
    left: 20%;
    display: flex;
    justify-content: center;
    column-gap: 2rem;

    column-gap: 2rem;
   


  
  }
  &__wrapper {
    position: relative;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    transition: all .5s;
    right: 0px;
  }

  .slide {
    &__image {
      position: relative;
      width: 100%;
    }
  }
}