.button {
  @extend %flex-all-center;
  border: none;
}

.header__button {
  top: -2rem;
  right: 2rem;
  position: absolute;
  @include width-height(18.3rem, 4rem);
  border-radius: 1rem;
  background-color: $main-color;
  font-size: 1.6rem;
  color: white;
  border: none;
  -webkit-box-shadow: 4px 5px 43px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 5px 43px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 5px 43px 0px rgba(34, 60, 80, 0.2);
}

.about__button {
  width: 13rem;
  background-color: $subMain-color;
  border-radius: 2rem;
  height: 4.5rem;
  color: white;
  position: absolute;
  
   bottom: -3rem;

}


