.button {
  @extend %flex-all-center;
  border: none;
  border-radius: 1rem;
  background-color: white;
}

.button-red {
  background-color: $main-color;
  padding: 7px 24px 9px;
  min-width: 180px;
  color: white;
  font-weight: 600;
  line-height: 1.5;
  box-shadow: 0 10px 20px -10px rgba(10, 10, 10, .5), inset 0 0 0 0 transparent;
  transition: background-color 200ms, box-shadow 200ms, -webkit-box-shadow 200ms;
  &:hover {
    background-color: red;
  } 
}

.button-black {
  margin-bottom: -5rem;;
  justify-self: flex-end;
  max-width: 18rem;
  display: inline-block;
  padding: 11px 32px 13px;
  min-width: 200px;
  background-color: $subMain-color;
  color: white;
  border-radius: 10px;
}